Repository livemehere/fewings: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,yaml,html,css,scss}": ["prettier --write"]
}

refactor: remove unnecessary spy on getEditorElement in CursorAPI tests
  packages/text-editor/src/__test__/CursorAPI.test.ts
Due: prettier --write, eslint --fix

refactor: improve type definitions and listener handling in Emitter class
  packages/core/src/classes/Emitter/index.ts
Due: prettier --write, eslint --fix

core: 1.1.0
  packages/core/package.json
Due: prettier --write

fix: build script
  scripts/build.mjs
Due: none

fix: Emitter
  packages/core/src/classes/Emitter/index.ts
Due: prettier --write, eslint --fix

fix: CNode type
  packages/canvas/src/Core/CNode.ts
Due: prettier --write, eslint --fix

fix: cjs type extension -> .cts
  packages/canvas/package.json
  packages/core/package.json
  packages/fancy-react/package.json
  packages/react-qs/package.json
  packages/react/package.json
  packages/svgr/package.json
  packages/text-editor/package.json
Due: prettier --write

fix: type file pkg.json
  packages/canvas/package.json
  packages/core/package.json
  packages/fancy-react/package.json
  packages/react-qs/package.json
  packages/react/package.json
  packages/svgr/package.json
  packages/text-editor/package.json
  scripts/build.mjs
Due: prettier --write

feat: Emitter 'has' method added & 1.4.0
  packages/core/package.json
  packages/core/src/classes/Emitter/index.ts
Due: prettier --write, eslint --fix
